<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crown.mybatis.demo1.mapper.PhoneMapper">
    <select id="selectByUid" resultType="com.crown.mybatis.demo1.entity.Phnoe">
        SELECT
            PHONE_ID AS phoneId,
            PHONE_NUMBER AS phoneNumber
        FROM
            t_phone
        WHERE
            USER_ID = #{uid}
    </select>
</mapper>