<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        <context:component-scan base-package="com.crown.springsecurity.security.demo1"/>
        <!--配置公开资源-->
        <security:http pattern="/login1.jsp*" security="none"/>
        <!--自定义登陆验证-->
        <security:http auto-config="true">
                <security:intercept-url pattern="/**" access="ROLE_USER"/>
                <!--自定义登陆页面,验证地址,接受参数  url必须以/开头-->
                <security:form-login
                        login-page="/login1.jsp"
                        login-processing-url="/user/login"
                        username-parameter="un"
                        password-parameter="pw"
                        default-target-url="/index.jsp"
                        always-use-default-target="false"
                        authentication-failure-url="/login1.jsp"/>
                <security:logout
                        logout-url="/user/logout"
                        logout-success-url="/login1.jsp"/>
        </security:http>
        <security:authentication-manager>
                <!--代替原来固定的配置信息-->

                <security:authentication-provider user-service-ref="myUserDetailsService">
                        <!--添加加密算法 plaintext-明文-->
                        <security:password-encoder hash="md5">
                        </security:password-encoder>
                </security:authentication-provider>
        </security:authentication-manager>
</beans>